In [1]:
import pandas as pd
import numpy as np

In [2]:
filteredGeneList = pd.read_csv('../../RBC/Database/filteredGenesDetails_human_240118.txt',sep='\t')
acc2gene={}
gene2acc={}
for idx,row in filteredGeneList.iterrows():
    acc2gene[row['AccNum']] = row['GeneName']
    gene2acc[row['GeneName']] = row['AccNum']
filteredGeneList.head(2)

,GeneName,AccNum,Chrom,mRNALength,ORFLength,fpUTR_length,tpUTR_length,sumIntronLengths
0,UBE2Q1,NM_017582,chr1,3223,1269,91,1863,6847
1,DUOXA1,NM_001276267,chr15,3032,897,395,1740,9479

## Collate gene groups to a dict of set

In [3]:
import glob
#geneGroups = glob.glob('../../RBC/Database/GeneGroups/*')
## just in case order mess up
geneGroups = ['../../RBC/Database/GeneGroups\\autophagyRelated.csv',
 '../../RBC/Database/GeneGroups\\collate_iron.ipynb',
 '../../RBC/Database/GeneGroups\\CytoRPList.csv',
 '../../RBC/Database/GeneGroups\\cytoskeleton.txt',
 '../../RBC/Database/GeneGroups\\Erythroid_06032019List.txt',
 '../../RBC/Database/GeneGroups\\Erythroid_29102019.csv',
 '../../RBC/Database/GeneGroups\\Erythroid_29102019.xlsx',
 '../../RBC/Database/GeneGroups\\Fe-Scluster_JM.txt',
 '../../RBC/Database/GeneGroups\\fpUTR_with_IREs_medium.csv',
 '../../RBC/Database/GeneGroups\\genesRegulatingIron_JM (1).txt',
 '../../RBC/Database/GeneGroups\\genesRegulatingIron_JM.txt',
 '../../RBC/Database/GeneGroups\\HistoneList.csv',
 '../../RBC/Database/GeneGroups\\iron_genesets',
 '../../RBC/Database/GeneGroups\\lysosome.txt',
 '../../RBC/Database/GeneGroups\\mitoComplexAll.csv',
 '../../RBC/Database/GeneGroups\\MitoComplexI.txt',
 '../../RBC/Database/GeneGroups\\MitoComplexII.txt',
 '../../RBC/Database/GeneGroups\\MitoComplexIII.txt',
 '../../RBC/Database/GeneGroups\\MitoComplexIV.txt',
 '../../RBC/Database/GeneGroups\\MitoComplexV.txt',
 '../../RBC/Database/GeneGroups\\MitoRPList.csv',
 '../../RBC/Database/GeneGroups\\proteasome.txt',
 '../../RBC/Database/GeneGroups\\spliceosome.txt',
 '../../RBC/Database/GeneGroups\\tpUTR_with_IREs_medium.csv']

In [4]:
geneGroup = {}
geneGroup['autophagyRelated'] = set()
geneGroup['CytoRPList'] = set()
geneGroup['cytoskeleton'] = set()
geneGroup['erythroid'] = set()
geneGroup['Fe_Scluster_JM'] = set()

In [5]:
gG = geneGroups[0]
df = pd.read_csv(gG)
for i,row in df.iterrows():
    if row['Approved symbol'] in gene2acc:
        geneGroup['autophagyRelated'].add(gene2acc[row['Approved symbol']])

In [6]:
df = pd.read_csv(geneGroups[2])
for i,row in df.iterrows():
    if row['AccNum'] in acc2gene:
        geneGroup['CytoRPList'].add(row['AccNum'])

In [7]:
df = pd.read_csv(geneGroups[3],sep='\t')
for i,row in df.iterrows():
    if row['cytoskeleton'] in gene2acc:
        geneGroup['cytoskeleton'].add(gene2acc[row['cytoskeleton']])

In [8]:
df = pd.read_csv(geneGroups[5])
for i,row in df.iterrows():
    if row['GeneSymbol'] in gene2acc:
        geneGroup['erythroid'].add(gene2acc[row['GeneSymbol']])

In [9]:
df = pd.read_csv(geneGroups[7])
for i,row in df.iterrows():
    if row['geneName'] in gene2acc:
        geneGroup['Fe_Scluster_JM'].add(gene2acc[row['geneName']])

In [10]:
# geneGroup['fpUTR_with_IREs_medium'] = set()
# df = pd.read_csv(geneGroups[8])
# for i,row in df.iterrows():
#     if row['Gene'] in gene2acc:
#         geneGroup['fpUTR_with_IREs_medium'].add(gene2acc[row['Gene']])

In [11]:
geneGroup['genesRegulatingIron_JM'] = set()
df = pd.read_csv(geneGroups[10])
print(geneGroups[10])
for i,row in df.iterrows():
    if row['Iron Metabolism Genes'] in gene2acc:
        geneGroup['genesRegulatingIron_JM'].add(gene2acc[row['Iron Metabolism Genes']])

../../RBC/Database/GeneGroups\genesRegulatingIron_JM.txt

In [12]:
geneGroup['HistoneList'] = set()
df = pd.read_csv(geneGroups[11])
print(geneGroups[10])
df
for i,row in df.iterrows():
    if row['Approved symbol'] in gene2acc:
        geneGroup['HistoneList'].add(gene2acc[row['Approved symbol']])

../../RBC/Database/GeneGroups\genesRegulatingIron_JM.txt

In [13]:
geneGroup['lysosome'] = set()
df = pd.read_csv(geneGroups[13],sep='\t')
print(geneGroups[13])
for i,row in df.iterrows():
    if row['lysosome'] in gene2acc:
        geneGroup['lysosome'].add(gene2acc[row['lysosome']])

../../RBC/Database/GeneGroups\lysosome.txt

In [14]:
df = pd.read_csv(geneGroups[14],sep='\t')
print(geneGroups[14])
geneGroup['mitoComplexAll'] = set()
for i,row in df.iterrows():
    if row['X'] in acc2gene:
        geneGroup['mitoComplexAll'].add(row['X'])

../../RBC/Database/GeneGroups\mitoComplexAll.csv

In [15]:
df = pd.read_csv(geneGroups[15],sep='\t')
geneGroup['MitoComplexI'] = set()
print(geneGroups[15])
for i,row in df.iterrows():
    if row['Approved symbol'] in gene2acc:
        geneGroup['MitoComplexI'].add(gene2acc[row['Approved symbol']])

../../RBC/Database/GeneGroups\MitoComplexI.txt

In [16]:
df = pd.read_csv(geneGroups[16],sep='\t')
geneGroup['MitoComplexII'] = set()
print(geneGroups[16])
for i,row in df.iterrows():
    if row['Approved symbol'] in gene2acc:
        geneGroup['MitoComplexII'].add(gene2acc[row['Approved symbol']])

../../RBC/Database/GeneGroups\MitoComplexII.txt

In [17]:
df = pd.read_csv(geneGroups[17],sep='\t')
geneGroup['MitoComplexIII'] = set()
print(geneGroups[17])
for i,row in df.iterrows():
    if row['Approved symbol'] in gene2acc:
        geneGroup['MitoComplexIII'].add(gene2acc[row['Approved symbol']])

../../RBC/Database/GeneGroups\MitoComplexIII.txt

In [18]:
df = pd.read_csv(geneGroups[18],sep='\t')
geneGroup['MitoComplexIV'] = set()
print(geneGroups[18])
for i,row in df.iterrows():
    if row['Approved symbol'] in gene2acc:
        geneGroup['MitoComplexIV'].add(gene2acc[row['Approved symbol']])

../../RBC/Database/GeneGroups\MitoComplexIV.txt

In [19]:
df = pd.read_csv(geneGroups[19],sep='\t')
geneGroup['MitoComplexV'] = set()
print(geneGroups[19])
for i,row in df.iterrows():
    if row['Approved symbol'] in gene2acc:
        geneGroup['MitoComplexV'].add(gene2acc[row['Approved symbol']])

../../RBC/Database/GeneGroups\MitoComplexV.txt

In [20]:
df = pd.read_csv(geneGroups[20])
print(geneGroups[20])
geneGroup['MitoRPList'] = set()
for i,row in df.iterrows():
    if row['AccNum'] in acc2gene:
        geneGroup['MitoRPList'].add(row['AccNum'])

../../RBC/Database/GeneGroups\MitoRPList.csv

In [21]:
df = pd.read_csv(geneGroups[21],sep='\t')
print(geneGroups[21])
df
geneGroup['proteasome'] = set()
for i,row in df.iterrows():
    if row['proteasome'] in gene2acc:
        geneGroup['proteasome'].add(gene2acc[row['proteasome']])

../../RBC/Database/GeneGroups\proteasome.txt

In [22]:
df = pd.read_csv(geneGroups[22],sep='\t')
print(geneGroups[22])
geneGroup['spliceosome'] = set()
for i,row in df.iterrows():
    if row['Approved symbol'] in gene2acc:
        geneGroup['spliceosome'].add(gene2acc[row['Approved symbol']])

../../RBC/Database/GeneGroups\spliceosome.txt

In [23]:
for v in geneGroup.values():
    print(len(v))

32
72
125
74
54
140
90
123
75
37
4
9
15
18
76
43
139

## Save to file

In [183]:
with open('geneGroupCollate.csv', 'w+') as csv_file:
    writer = csv.writer(csv_file)
    for key, value in geneGroup.items():
        writer.writerow([key, ','.join(value)])
csv_file.close()        
print ('saving is complete')

saving is complete

In [ ]:
## if need read-back
with open(csv_path, 'rb') as csv_file:
    reader = csv.reader(csv_file);
    temp_dict = dict(reader);
mydict={k:v.split(',') for k,v in geneGroup.items()}    
csv_file.close()

In [24]:
TIS = pd.read_csv('../../RBC/Database/accnum2tis.csv')
TIS.head(1)

      AccNum  Efficiency
0  NM_017582       101.0

In [37]:
TE_files = glob.glob('../../RBC/Deseq2 Analysis/shift15/coding/csv_raw/RNA*.csv')
TE_files

['../../RBC/Deseq2 Analysis/shift15/coding/csv_raw\\RNA_T1_against_T0.csv',
 '../../RBC/Deseq2 Analysis/shift15/coding/csv_raw\\RNA_T2_against_T0.csv',
 '../../RBC/Deseq2 Analysis/shift15/coding/csv_raw\\RNA_T2_against_T1.csv']

In [38]:
TE_files[2].split('\\')[-1][:-4]

'RNA_T2_against_T1'

In [39]:
for file in TE_files:
    TE = pd.read_csv(file)
    keyword = file.split('\\')[-1][:-4]
    geneGroupTitle = list(geneGroup.keys())
    TISs = []
    sizes = []
    TEs = []
    for gg in geneGroupTitle:
        TEs.append(np.mean(TE.loc[TE['Unnamed: 0'].isin(geneGroup[gg]),'log2FoldChange']))
        TISs.append(np.mean(TIS.loc[TIS['AccNum'].isin(geneGroup[gg]),'Efficiency']))
        sizes.append(len(geneGroup[gg]))
    comb_df = pd.DataFrame({'GeneGroup':geneGroupTitle,'TIS':TISs,'RNA':TEs,'size':sizes})
    comb_df.to_csv(keyword+'.csv', encoding='utf-8', index=False)

In [42]:
fid = pd.read_csv('../RBC_fid_table.csv')
fid.head(2)

  Barcodes  Sets Types  Timepoint Position      FileName
0   ATCACG     8   S24          0   ATCACG  ATCACG-s_5_1
1   TTAGGC     8   S24          1   TTAGGC  TTAGGC-s_5_1

In [60]:
path = '../../RBC/RPKM with refseq/shift15/coding/'
for i in range(18,24):
    TE = pd.read_csv(path+'shift15_geneTXCD_RPKMoutput_'+fid['FileName'][i]+'_shift15.txt',sep='\t',na_values=['-'])
    keyword = 'RNA_t'+str(fid['Timepoint'][i])+'_set'+str(fid['Sets'][i])
    geneGroupTitle = list(geneGroup.keys())
    TISs = []
    sizes = []
    TEs = []
    for gg in geneGroupTitle:
        TEs.append(np.mean(TE.loc[TE['AccNum'].isin(geneGroup[gg]),'cdRPKM']))
        TISs.append(np.mean(TIS.loc[TIS['AccNum'].isin(geneGroup[gg]),'Efficiency']))
        sizes.append(len(geneGroup[gg]))
    comb_df = pd.DataFrame({'GeneGroup':geneGroupTitle,'TIS':TISs,'RNA':TEs,'size':sizes})
    comb_df.to_csv(keyword+'.csv', encoding='utf-8', index=False)

In [59]:
rpkm

             AccNum  txReads    txRPKM  cdReads    cdRPKM
0      NM_001003806      2.0  0.159173      1.0  0.243260
1         NM_017847    204.0  4.279776    110.0  6.586730
2      NM_001143986      0.0       NaN      0.0       NaN
3      NM_001143987      0.0       NaN      0.0       NaN
4      NM_001143980      9.0  0.335745      9.0  0.367075
...             ...      ...       ...      ...       ...
19205     NM_019046     34.0  1.057459     24.0  1.806306
19206     NM_019041     49.0  1.053401     26.0  1.859246
19207     NM_080878      0.0       NaN      0.0       NaN
19208     NM_019043     15.0  0.464934     12.0  0.490167
19209     NM_000206     10.0  0.532825      9.0  0.662719

[19210 rows x 5 columns]